body {
    padding: 0;
    margin: 0;
}


.Welcome {
    border: 1px black solid;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.Entry {
    border: 1px grey solid;
    text-align: center;
    font-size: 16px;
    width: 75%;
    position: relative;
}